# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
.env/
.venv/
env/
venv/

# IDE/editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
